---
import Title from "../components/Title.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <div class="mt-10 px-28">
    <Title center={true}>About</Title>
    <section>
      <Title>Introduction</Title>
      <p class="mt-3">
        This is a simple example of a blog built with Astro. It uses Astro's
        <a href="https://docs.astro.build/core-concepts/layouts">layout</a> and
        <a href="https://docs.astro.build/core-concepts/components">component</a
        > features to create a simple blog. It also uses Astro's <a
          href="https://docs.astro.build/core-concepts/astro-components"
          >Astro components</a
        > to create a custom <code>&lt;Title&gt;</code> component. The <code
          >src/pages</code
        > directory contains all of the pages for the site. The <code
          >src/components</code
        > directory contains all of the components for the site. The <code
          >src/layouts</code
        > directory contains all of the layouts for the site.
      </p>
    </section>
  </div>
</MainLayout>
