---
import Icon from "astro-icon";
---

<footer class="bg-nord-snow-3">
  <div class="md:w-9/12 mx-auto py-10">
    <ul class="flex justify-center items-center space-x-5">
      <li>
        <a href="/">
          <Icon name="mdi:twitter" class="w-8 h-8" />
        </a>
      </li>
      <li>
        <a href="/">
          <Icon name="mdi:github" class="w-8 h-8" />
        </a>
      </li>
      <li>
        <a href="/">
          <Icon name="mdi:facebook" class="w-8 h-8" />
        </a>
      </li>
    </ul>
    <p class="flex justify-center my-3">
      Powered by <a
        href="https://astro.build"
        class="flex space-x-3 items-center underline decoration-dashed decoration-blue-500 underline-offset-4"
        ><Icon name="vscode-icons:file-type-astro" class="w-6 h-6" /> Astro
      </a>&nbsp;and&nbsp;<a
        href="https://tailwindcss.com"
        class="flex space-x-3 items-center underline decoration-dashed decoration-blue-500 underline-offset-4"
        ><Icon name="vscode-icons:file-type-tailwind" class="w-6 h-6" /> Tailwind
        CSS</a
      >
    </p>
    <p class="text-center">Made with ❤️ by Candi Agusta</p>
  </div>
</footer>
