---
const { center = false } = Astro.props;
---

<h3
  class={`text-xl md:text-2xl font-bold underline decoration-dashed decoration-blue-500 underline-offset-4 ${
    center ? "text-center" : ""
  }`}
>
  <slot />
</h3>
